@font-face {
  font-family: 'PT Sans';
  src: url('./fonts/PTSans-Regular.woff2') format('woff2'),
    url('./fonts/PTSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('./fonts/OpenSans-Regular.woff2') format('woff2'),
    url('./fonts/OpenSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans Light';
  src: url('OpenSans-Light.woff2') format('woff2'),
    url('OpenSans-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}