* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

button {
  outline: none;
}

header {
  position: absolute;
  display: flex;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  font-family: 'PT Sans', sans-serif;
  z-index: 100;
  color: $grayColor;
  transition: color 500ms, background-color 500ms;

  &.attached {
    background: #fff;
    color: #cfcfcf;
    transition: transform 200ms;
    transform: translateY(0) !important;
    position: fixed;

    .container .mainMenu li a {
      &:hover, &.active {
        background-color: #dbdbdb;
      }
    }
  }

  .container {
    display: flex;
    width: 93%;
    justify-content: center;
    border-bottom: 1px solid #e2e4e5;

    .toggleMenu {
      display: none;
    }

    .mainMenu {
      display: flex;

      li {
        a {
          display: flex;
          align-items: center;
          padding: 22px;
          height: 100%;
          text-decoration: none;
          color: currentColor;
          font-size: 18px;
          letter-spacing: 1.5px;
          text-transform: uppercase;
          transition: background-color 150ms, color 150ms;

          &:hover, &.active {
            background-color: #fff;
            color: #666;
          }
        }
      }
    }
  }
}

.scroll-prompt {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: -90px;
  z-index: 20;

  button {
    background: none;
    bottom: 0;
    border: 0;
    color: $grayColor;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: flex;
    align-items: space-between;
    justify-content: center;
    padding-bottom: 60px;
    position: relative;
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;

    &::before {
      @include arrow($grayColor);
      bottom: 25px;
    }

    &::after {
      @include arrow($grayColor);
      bottom: 35px;
    }

    &:hover {
      &::before, &::after {
        transform: rotate(-135deg) translate(-4px, -4px);
      }
    }
  }

  &_gray {
    button {
      color: #bebebe;
    }
  }
}

.fullScreen {
  display: flex;
  align-items: center;
  min-height: 100vh;
  position: relative;
  padding: 80px 0 120px;
  background-color: #fff;
  overflow: hidden;
  font-family: 'Open Sans';
  color: #202020;

  &__overlay {
    background: linear-gradient(to bottom, transparent, #000);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100vh;
  }

  figure {
    display: flex;
    width: 95%;

    .img-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 1;

      img {
        height: 65vh;
        width: 100%;
        object-fit: cover;
        object-position: top center;
      }
    }

    figcaption {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0 35px;
      flex-basis: 50%;

      h2 {
        margin-bottom: 35px;
        text-transform: uppercase;
        font-size: 43px;
        font-weight: normal;
        letter-spacing: 1.8px;
      }

      blockquote {
        line-height: 2;

        p {
          margin-bottom: 20px;
        }

        cite {
          font-size: 25px;
          font-style: normal;
        }
      }
    }
  }

  &.forest {
    background: url('./img/home_bg.webp') center / cover fixed no-repeat;
  }

  &.about {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (min-width: 601px) {
  .mainMenu {
    &:hover {
      li {
        a:not(:hover) {
          background: none !important;
          color: currentColor !important;
        }
      }
    }
  }
}